<html>

<body>

    <h1>Make Your Reservation</h1>

    <div class="container">
        <form action="/action_page.php">
            
                    <label for="name" ><b>Name</b></label>
                    <input type="text" placeholder="Enter Name" name="email" required>
              
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
             

            <label for="city">CITY</label>
            <select name="city">
                <option>select..</option>
                <option>GOA</option>
                <option>Mumbai</option>
                <option>New Delhi</option>
                <option>Bengluru</option>
                <option>Jaipur</option>
                <option>GOHATI</option>
                <option>KOLATA</option>
                <option>SRINAGAR</option>
                <option>LUCKNOW</option>
                <option>CHENNAI</option>
            </select><br><br>

            <label for="cidate">CHECK-IN</label>
            <input type="date" class="form-control" id="date" placeholder="Enter Departure Date" name=t1 required><br>

            <label for="codate">CHECK-OUT</label>
            <input type="date" class="form-control" id="date" placeholder="Enter Return Date" name=t1 required><br>

            <label for="travelers">Select Hotels</label>
            <select name="travelers">
                <option>select..</option>
                <option>Hotel Parc Estique</option>
                <option>Fairfield by Marriott Pune Kharadi</option>
                <option>Royal Orchid Central, Pune</option>
            </select><br><br>
            <label for="No of rooms">No of rooms</label>
            <select name="travelers">
                <option>select..</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select><br><br>

            <label for="children">CHILDREN'S</label>
            <select name="travelers">
                <option>select..</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select><br><br>
            <label for="Adults">Adults</label>
            <select name="travelers">
                <option>select..</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select><br><br>

         
        </form>
        <input type="button" value="CONFIRM" text-align="center">
    </div>

</body>
</html>
