<html>

<body>
    <style>
        h1 {text-align: center;}
        
        </style>
  
             
    <h1>Make your reservation</h1>
                

        <form  >
            
            <div class="container">
                <tr>
                    <label for="name" ><b>Name</b></label>
                    <input type="text" placeholder="Enter Name" name="email" required>
                </tr>

                <tr>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                </tr>
                <tr>
                    
                    <label for="city"><b> City </b> </label>
                    <div class="input-grp">
                    <select class="custom-select">
                        <option >Select</option>
                        <option>Chennai</option>
                        <option>Goa</option>
                        <option>Mumbai</option>
                        <option>New Delhi</option>
                    </select>
                    </div>
                </tr>
                <tr>
                    <label for="check In"><b>Check In</b></label>
                    <input type="date" placeholder="dd/mm/yyyy" name="check In" required>
                </tr>

                <tr>
                    <b>Check Out</b>
                    <input type="date" placeholder="dd/mm/yyyy" name="check Out" required>
                </tr>

                <tr>
                    
                    <label for="Select Hotels"><b>Select Hotels</b> </label>
                    <div class="input-grp">
                    <select class="custom-select">
                        <option >Select</option>
                        <option >Hotel Parc Estique</option>
                        <option >Fairfield by Marriott Pune Kharadi</option>
                        <option >Royal Orchid Central, Pune</option>
                    </select>
                    </div>

                </tr>
                <tr>
                    <label for="No of Rooms"><b> No of Rooms </b> </label>
                    <div class="input-grp">
                    <select class="custom-select">
                        <option >Select</option>
                        <option >1</option>
                        <option >2</option>
                        <option >3</option>
                    </select>
                    </div>
                </tr>
                <tr>
                    <label><b> No of Adults </b> </label>
                    <div class="input-grp">
                    <select class="custom-select">
                        <option >Select</option>
                        <option >1</option>
                        <option >2</option>
                        <option >3</option>
                    </select>
                    </div>
                </tr>
            </div>

            <div class="clearfix">
                <button type="submit" class="Confirmbtn">Confirm</button>
            </div>

        </form>
        </body>
        </html>